.container{
    height: 80vh;
    width: 80vw;
    background-color: transparent;
    margin: auto;
    border-radius: 12px;
    margin-top: 10vh;
    box-shadow: 0 0 20px rgba(120, 120, 120, 0.643);
    padding: 30px 50px;
}
.heading{
    font-weight: 500;
    text-align: center;
    padding: 30px 0;
}
.main{
    height: 80%;
    display: flex;
}
.left, .right{
    height: 100%;
    width: 50%;
    background-color: beige;
}